*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------var
$light: #dde1e7;
$dark:#333;
$colr-texto:#333333b4;
$background: rgb(255, 255, 255);

// ------BOX-SHADOW------------
$arriba-abajo1:3px 3px 4px #8f8f8f,
-3px -3px 4px #f8f8f8;

$arriba-abajo2:-3px -3px 7px rgba(238, 238, 238, 0.919),
3px 3px 6px rgba(0, 0, 0, 0.5);

$arriba-abajo3:inset 3px 3px 4px #d0d0d0,
inset -3px -3px 4px #f8f8f8;

$arriba-abajo4:-2px -2px 5px #ffff,
3px 3px 6px rgba(0, 0, 0, 0.15),
inset -2px -2px 5px rgba(255, 255, 255, 0.3),
inset 3px 3px 6px rgba(0, 0, 0, 0.1);

// .outer-shadow {
//     box-shadow: $arriba-abajo1;
// }

// ------var



.content_music {
    background: $dark;

    .row {
        display: flex;
        place-content: center;
        min-height: 100vh;
    }

    .card {
        padding: 25px 30px;
        border-radius: 15px;
        background: $light;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);

        .wrapper {
            i {
                cursor: pointer;
                font-size: 1.2rem;
            }

            .top_bar,
            .progress_bar,
            .timer,
            .controls {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 18px;
                    color: $colr-texto;
                }
            }

            .image_area {
                height: 256px;
                width: 100%;
                box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                overflow: hidden;
                margin: 10px 0 12px 0;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .song_details {
                text-align: center;
                margin: 12px 0;
                color: $colr-texto;

                p {
                    margin: 1%;
                }

                .name {
                    font-size: 21px;
                }

                .artist {
                    opacity: 0.9;
                    font-size: 18px;
                }
            }

            .progress_area {
                height: 6px;
                width: 100%;
                background: #f0f0f0;
                border-radius: 50px;
                cursor: pointer;

                .progress_bar {
                    height: inherit;
                    width: 50%;
                    position: relative;
                    border-radius: inherit;
                    background: linear-gradient(90deg, rgb(0, 195, 255), rgb(9, 221, 51));

                    &::before {
                        content: '';
                        position: absolute;
                        height: 12px;
                        width: 12px;
                        background: black;
                        border-radius: inherit;
                        top: 50%;
                        right: -5px;
                        transform: translateY(-50%);
                        background: inherit;
                        opacity: 0;
                        transition: opacity 0.25 ease;
                    }
                }

                &:hover .progress_bar::before {
                    opacity: 1;
                }

                .timer {
                    margin-top: 3px;

                    span {
                        font-size: 15px;
                        color: $colr-texto;
                    }
                }
            }

            .controls {
                margin: 40px 0 5px 0;
                display: flex;
                align-items: center;

                i {

                    font-size: 25px;
                    user-select: none;
                    background: linear-gradient(to left, rgb(0, 166, 255), rgb(9, 115, 177), rgb(0, 255, 106));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                #prev {
                    margin-right: -13px;
                    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.933),
                        3px 3px 6px rgba(0, 0, 0, 0.15),
                        inset -2px -2px 5px rgba(255, 255, 255, 0.3),
                        inset 3px 3px 6px rgba(0, 0, 0, 0.1);
                    width: 43px;
                    height: 43px;
                    line-height: 43px;
                    border-radius: 50%;
                    display: grid;
                    place-content: center;
                    padding-right: 5px;
                }

                #next {
                    margin-left: -13px;
                    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.933),
                        3px 3px 6px rgba(0, 0, 0, 0.15),
                        inset -2px -2px 5px rgba(255, 255, 255, 0.3),
                        inset 3px 3px 6px rgba(0, 0, 0, 0.1);
                    width: 43px;
                    height: 43px;
                    line-height: 43px;
                    border-radius: 50%;
                    display: grid;
                    place-content: center;
                    padding-left: 5px;
                }

                .play-pause {
                    width: 51px;
                    height: 51px;
                    line-height: 50px;
                    border: 4px solid rgb(8, 175, 175);
                    box-shadow: -3px -3px 7px rgba(238, 238, 238, 0.919), 3px 3px 6px rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    display: grid;
                    place-content: center;

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .list_music1 {
                    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.933),
                        3px 3px 6px rgba(0, 0, 0, 0.15),
                        inset -2px -2px 5px rgba(255, 255, 255, 0.3),
                        inset 3px 3px 6px rgba(0, 0, 0, 0.1);
                    width: 43px;
                    height: 43px;
                    line-height: 43px;
                    border-radius: 50%;
                    display: grid;
                    place-content: center;

                    i {
                        font-size: 25px;
                    }
                }


                .list_music2 {
                    box-shadow: $arriba-abajo4;
                    width: 43px;
                    height: 43px;
                    line-height: 43px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}