*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content_music {
  background: #333;
}

.content_music .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  min-height: 100vh;
}

.content_music .card {
  padding: 25px 30px;
  border-radius: 15px;
  background: #dde1e7;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.content_music .card .wrapper i {
  cursor: pointer;
  font-size: 1.2rem;
}

.content_music .card .wrapper .top_bar,
.content_music .card .wrapper .progress_bar,
.content_music .card .wrapper .timer,
.content_music .card .wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_music .card .wrapper .top_bar span,
.content_music .card .wrapper .progress_bar span,
.content_music .card .wrapper .timer span,
.content_music .card .wrapper .controls span {
  font-size: 18px;
  color: #333333b4;
}

.content_music .card .wrapper .image_area {
  height: 256px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
  margin: 10px 0 12px 0;
}

.content_music .card .wrapper .image_area img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content_music .card .wrapper .song_details {
  text-align: center;
  margin: 12px 0;
  color: #333333b4;
}

.content_music .card .wrapper .song_details p {
  margin: 1%;
}

.content_music .card .wrapper .song_details .name {
  font-size: 21px;
}

.content_music .card .wrapper .song_details .artist {
  opacity: 0.9;
  font-size: 18px;
}

.content_music .card .wrapper .progress_area {
  height: 6px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
}

.content_music .card .wrapper .progress_area .progress_bar {
  height: inherit;
  width: 50%;
  position: relative;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#00c3ff), to(#09dd33));
  background: linear-gradient(90deg, #00c3ff, #09dd33);
}

.content_music .card .wrapper .progress_area .progress_bar::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  background: black;
  border-radius: inherit;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: inherit;
  opacity: 0;
  -webkit-transition: opacity 0.25 ease;
  transition: opacity 0.25 ease;
}

.content_music .card .wrapper .progress_area:hover .progress_bar::before {
  opacity: 1;
}

.content_music .card .wrapper .progress_area .timer {
  margin-top: 3px;
}

.content_music .card .wrapper .progress_area .timer span {
  font-size: 15px;
  color: #333333b4;
}

.content_music .card .wrapper .controls {
  margin: 40px 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_music .card .wrapper .controls i {
  z-index: 100;
  font-size: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, right top, left top, from(#00a6ff), color-stop(#0973b1), to(#00ff6a));
  background: linear-gradient(to left, #00a6ff, #0973b1, #00ff6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_music .card .wrapper .controls #prev {
  margin-right: -13px;
  -webkit-box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.933), 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.933), 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-right: 5px;
}

.content_music .card .wrapper .controls #next {
  margin-left: -13px;
  -webkit-box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.933), 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.933), 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-left: 5px;
}

.content_music .card .wrapper .controls .play-pause {
  width: 51px;
  height: 51px;
  line-height: 50px;
  border: 4px solid #08afaf;
  -webkit-box-shadow: -3px -3px 7px rgba(238, 238, 238, 0.919), 3px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: -3px -3px 7px rgba(238, 238, 238, 0.919), 3px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content_music .card .wrapper .controls .play-pause i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.content_music .card .wrapper .controls .fa-redo-alt {
  font-size: 25px;
  -webkit-box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.933), 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.933), 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content_music .card .wrapper .controls .material-icons {
  -webkit-box-shadow: -2px -2px 5px #ffff, 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 5px #ffff, 3px 3px 6px rgba(0, 0, 0, 0.15), inset -2px -2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 31px;
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}
/*# sourceMappingURL=style.css.map */